.detail-table {
    width: 100%;
    background-color: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    letter-spacing: 0.2em;
}

.detail-table__tr {

}

.detail-table__th {
    padding: 30px 0 30px 50px;
    color: #7D7D7D;
    text-align: left;
    border-bottom: 2px solid #E6E6E6;
}

.detail-table__td {
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid #E6E6E6;
}

.detail-table__tr:last-of-type > .detail-table__th, .detail-table__tr:last-of-type > .detail-table__td:last-of-type {
    border: none;
}

.detail-table__td-flex {
    display: flex;
}

.detail-table__td-username {
    margin-left: 15px;
}

.detail-table__td-span {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.detail-table__input {
    text-align: center;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
}

.detail-table__textarea {
    width: 300px;
    height: 80px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: bold;
    resize: none;
}

.detail-table__input--empty {
    color: transparent;
}

.detail-table__input:focus {
    color: black;
}

.detail-table__input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}