input, textarea, button {
    font-family: Inter, sans-serif;
    letter-spacing: 0.2em;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}

.body {
    font-family: Inter, sans-serif;
    background-color: #f0eff2;
    letter-spacing: 0.2em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0 30px 0;
    background: black;
}

.header-logo {

}

.header-logo__img {

}

.header-nav__ul {
    display: flex;
}

.header-nav__li {
    margin-right: 30px;
}

.header-nav__li:last-of-type {
    margin: 0;
}

.header-nav__a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.default-page {
    width: 1000px;
    margin: 100px auto;
}

.default-title {
    position: relative;
    padding: 20px;
}

.default-title::before {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: -10px;
    content: "";
    width: 10px;
    height: 50px;
    background: #000;
}

.default-table {
    width: 100%;
    color: #737373;
    font-weight: 600;
    letter-spacing: 0.2em;
    background: white;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
}

.default-table__tr {
}

.default-table__tr:last-of-type > .default-table__td {
    border: none;
}

.default-table__th {
    padding: 10px;
    border-bottom: 3px solid #e1e1e1;
}

.default-table__td {
    padding: 10px;
    text-align: center;
    border-bottom: 2px solid #e1e1e1;
}

.default-table__th:first-of-type, .default-table__td:first-of-type {
    padding-left: 50px;
}

.default-table__th:last-of-type, .default-table__td:last-of-type {
    padding-right: 50px;
}

.align-left {
    text-align: left;
}

.default-table__a {
    color: black;
    text-decoration: none;
}

.default-button {
    margin-top: 50px;
    text-align: right;
}

.default-button__submit {
    width: 120px;
    padding: 5px 0;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background: black;
}

.pending-approval__message {
    width: 100%;
    margin-top: 30px;
    color: red;
    font-size: 16px;
    text-align: right;
}